<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <title><%= title %></title>
    <%= style %>
  </head>
  <body>
    <div id="app"><%= body %></div>
    <noscript>
      <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <link
      rel="prefetch"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </body>
</html>
