<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <title><%= title %></title>
    <base target="_blank" rel="noopener noreferrer">
    <%= style %>
  </head>
  <body>
    <div id="app"><%= body %></div>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,900&display=swap" rel="stylesheet" defer />
  </body>
</html>
